# **Data Types and Structures**

1) What are data structures, and why are they important?
   - Data structures organize and store data efficiently. They're important because they help in managing data in ways that enable easy access and modification.



2) Explain the difference between mutable and immutable data types with exaples.
   -  Mutable :- Mutable mean we can the change element after the creation of list,dict,set. my_list = [1, 2]
   my_list.append(3)
   in this there add of 3 in my_list [1,2,3]
   
   - Immutable :- Immutable mean we cannot change the element after creation of int, float, tuple, str.
   my_str = "hello"
   my_str[0] = "H"
   it will through error


3) What are the main differences between lists and tuples in python?
   - Main Differences Between Lists and Tuples in Python:
     
     i) Lists are mutable, tuples are immutable.
     
     ii) Tuples are generally faster than lists due to their immutability.
    
     iii) Tuples use less memory compared to lists

     iv) List uses [ ] , Tuple uses ()


4) Describe how dictionaries store data.
   - Dictionaries store data in key-value pairs using a hash table. Each key is hashed to a memory location where its value is stored.

   eg, dict = {'name': 'Sanjana', 'age': 20}
   here name is key while Sanjana is value of key.


5) Why might you use a set instead of a list in python?
   - Sets remove duplicates and are faster for checking existence.


6) What is a string in python , and how is it different from a list?
   - A string is a sequence of characters (immutable), while a list can hold    any type of items and is mutable.

7) How do tuples ensure data integrity in python?
   - Being immutable, they prevent accidental changes.Because tuples are immutable, their data can't be altered accidentally, ensuring that values
 remain consistent.


8) What is a hash table, and how does it relate to dictionaries in python?
   - A hash table maps keys to values. Python dictionaries use hash tables internally.


9) Can lists contain different data types in python?
   - Yes, list can contain different data type
     
     lst = [1, 'hello', True]


10) Explain why strings are immutable in python.   
  - For safety, consistency, and performance reasons.


11) What advantages do dictionaries offer over lists for certain tasks?
   - Faster lookup by key.

   - More descriptive using key-value pairs.

   - key-value mapping for better data representation.


12) Describe a scenario where using a tuple would be preferable over a list.

  - A tuple would be preferable over a list when you need to represent a      fixed immutable sequence
     of data like a coordinate point or a set of constants.


13) How do sets handle duplicate value in python?
  - Python set data structures inherently do not allow duplicate values. When we attempt to add duplicate values to a set, or when we create a set from an iterable that contains duplicates, the set will automatically discard the duplicates, storing only one instance of each unique element.


14) How does the "in" keyword word differently for lists and dictionaries?
   - In lists: checks if value exists
     
   - In dicts: checks if key exists


15)Can you modify the elements of a tuple? Explain why or why not.
   - Since Tuples data structure is immutable, meaning we cannot modify the elements of tuples once its created.

16) what is a nested dictionary, and give an example of its use case?
   - A dictionary with other dictionaries inside it: {"person": {"name": "Tom"}}


17) Describe the time complexity of accessing elements in a dictionary.
  - The time complexity of accessing elements in a Python dictionary is O(1) average time â€” very fast.


18) In what situations are lists preferred over dictionaries?
  - When you only care about unique values, not key-value mapping.
    When data naturally fits a sequence, where order and positional access are important, and duplicates are acceptable, a list is the preffered choice.

19) Why are dictionaries considered unordered, and how does that affect data retrieval.
    
  - Dictionaries are designed for fast, direct access to values when we have the unique key. Their "unordered" nature means we trade index-based access for extremely efficient key-based retrieval, making them ideal for mapping and lookup tasks.

  - We cannot retrieve items using integer indices like my_dict[0]. We must   know the exact key to retrieve its associated value.

  - Data retrieval is inherently driven by the key. If we don't know the key, we have to iterate through the dictionary's keys or values to find what we're looking for, which is less efficient than a direct key lookup.

20) Explain the difference  between a list and a dictionary in terms of data    retrieval.
  - Lists are for ordered collections where you want to retrieve "the Nth item," like List[1]. - while dictionaries are for unordered collections where you want to retrieve "the item named X. eg, my_dict = {'name': 'sanjana', 'age': 20, 'city': 'Bhilai'} person_name = my_dict['name'] person_age = my_age['age']

1) Write a code to create a string with your name and print it.

In [ ]:
#create a string
name = "Sanjana"
print(name)

Sanjana

2) Write a code to find the length of the string "Hello World".

In [ ]:
#length of "hello world"
print(len("hello world"))

11

3) Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# slice first 3 character
string = "python programming"
sliced_string = string[:3]
print(sliced_string)

pyt

4) Write a code to convert the string "hello" to uppercase.

In [ ]:
#convert to uppercase
string="hello"
uprString = string.upper()
print(uprString)

HELLO

5) Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# Replace "apple" with "orange"
print("I like apples".replace("apples", "oranges"))

I like oranges

6) Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
#list 1 to 5
print(list(range(1,6)))

[1, 2, 3, 4, 5]

7) Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
#append 10
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
# Remove 3
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# Access second element
print(['a', 'b', 'c', 'd'][1])

b

10)  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Reverse list
print([10, 20, 30, 40, 50][::-1])

[50, 40, 30, 20, 10]

11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Create a tuple
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Access second-last element
colTuple = ('red', 'green', 'blue', 'yellow')
print(colTuple[-2])

blue

13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Minimum in tuple
print(min((10, 20, 5, 15)))

5

14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# Index of 'cat'
print(('dog', 'cat', 'rabbit').index('cat'))

1

15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Tuple of fruits and check
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Set of chars
print(set(['a', 'b', 'c']))

{'a', 'c', 'b'}

17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
# Clear a set
alphSet =  {1, 2, 3, 4, 5}
clearSet = alphSet.clear()
print(clearSet)

None

18) Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
# Remove 4
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# Union of sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
setUnion = set1.union(set2)
print(setUnion)

{1, 2, 3, 4, 5}

20)  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
# Intersection of sets
print(set([1, 2, 3]).intersection([2, 3, 4]))

{2, 3}

21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
# Dictionary
person = {"name": "sanjana", "age": 20, "city": " chhattisgarh"}
print(person)

{'name': 'sanjana', 'age': 20, 'city': ' chhattisgarh'}

22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
# Add new key-value
perDict = {'name':'Sanjana', 'age':'20', 'city':'Bhilai'}
perDict['Country']='USA'
print(perDict)

{'name': 'Sanjana', 'age': '20', 'city': 'Bhilai', 'Country': 'USA'}

23)  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
# Access value by key
persDict = {'name': 'Alice', 'age': 30}
val = persDict['name']
print(val)

Alice

24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
# Remove key
d = {"name": "sanjana", "age": 20, "city": "India"}
del d["age"]
print(d)

{'name': 'sanjana', 'city': 'India'}

25)  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
# Check if key exists
print('city' in {'name': 'Alice', 'city': 'Paris'})

True

26) Write a code to create a list, a tuple, and a dictionary, and print them all.

In [1]:
# Create list, tuple, dictionary
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dictionary = {"key1": "value1", "key2": "value2"}
print(my_list)
print(my_tuple)
my_dictionary

[1, 2, 3]
(4, 5, 6)

{'key1': 'value1', 'key2': 'value2'}

27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
# Random numbers
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[5, 13, 52, 94, 99]

28) Write a code to create a list with strings and print the element at the third index.

In [ ]:
# List of strings, insert at 3rd index
my_list = ["apple", "banana", "cherry", "kiwi", "berry"]
print(my_list[2])

cherry

29) Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Merge dictionaries
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30) Write a code to convert a list of strings into a set.

In [ ]:
# List to set
my_list = ["apple", "banana", "orange", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'orange'}